___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

## 5.1.
** Import pandas as pd.**

In [ ]:
import pandas as pd

## 5.2.
** Read Salaries.csv as a dataframe called sal.**

In [ ]:
df = pd.read_csv('/content/Salaries.csv')

## 5.3.
** Check the head of the DataFrame. **

In [ ]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

## 5.4.

** Use the .info() method to find out how many entries there are.**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

## 5.5.
**What is the average BasePay ?**

In [ ]:
average_basepay = df['BasePay'].mean()

print("The average BasePay is:", average_basepay)

The average BasePay is: 66325.4488404877

## 5.6.

** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
highest_OvertimePay = df['OvertimePay'].max()

print("The highest amount of OvertimePay is:", highest_OvertimePay)

The highest amount of OvertimePay is: 245131.88

## 5.7.
** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
# filter the DataFrame for rows where the EmployeeName is JOSEPH DRISCOLL
joseph_driscoll_row = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']

# retrieve the job title of JOSEPH DRISCOLL
job_title = joseph_driscoll_row['JobTitle'].values[0].upper()

print("The job title of JOSEPH DRISCOLL is:", job_title)

The job title of JOSEPH DRISCOLL is: CAPTAIN, FIRE SUPPRESSION

## 5.8.
** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
# Filter the DataFrame for rows where the EmployeeName is JOSEPH DRISCOLL
joseph_driscoll_row = df[df['EmployeeName'] == 'JOSEPH DRISCOLL']

# Retrieve the total compensation of JOSEPH DRISCOLL
total_compensation = joseph_driscoll_row['TotalPayBenefits'].values[0]

print("JOSEPH DRISCOLL's total compensation is:", total_compensation)

JOSEPH DRISCOLL's total compensation is: 270324.91

## 5.9.
** What is the name of highest paid person (including benefits)?**

In [ ]:
# find the index of the row with the maximum value in the TotalPayBenefits column
highest_paid_index = df['TotalPayBenefits'].idxmax()

# retrieve the name of the highest paid person
highest_paid_name = df.loc[highest_paid_index, 'EmployeeName']

print("The name of the highest paid person (including benefits) is:", highest_paid_name)

The name of the highest paid person (including benefits) is: NATHANIEL FORD

## 5.10.
** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
# find the index of the row with the minimum value in the TotalPayBenefits column
lowest_paid_index = df['TotalPayBenefits'].idxmin()

# retrieve the name of the lowest paid person
lowest_paid_name = df.loc[lowest_paid_index, 'EmployeeName']

print("The name of the lowest paid person (including benefits) is:", lowest_paid_name)

# find the lowest value in the TotalPayBenefits column
lowest_paid = df['TotalPayBenefits'].min()

print("The lowest-paid amount (including benefits) is:", lowest_paid)
# it's not logical to have a less-than-zero number as a minimum salary

The name of the lowest paid person (including benefits) is: Joe Lopez
The lowest-paid amount (including benefits) is: -618.13

## 5.11.
** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
# filter the DataFrame to include only the years 2011 to 2014
filtered_df = df[df['Year'].between(2011, 2014)]

# group the filtered DataFrame by the 'Year' column and calculate the mean BasePay for each year
average_basepay_per_year = filtered_df.groupby('Year')['BasePay'].mean()

print("Average BasePay per year (2011-2014):\n", average_basepay_per_year)

Average BasePay per year (2011-2014):
 Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

## 5.12.
** How many unique job titles are there? **

In [ ]:
# find the number of unique job titles
unique_job_titles = df['JobTitle'].nunique()

print("Number of unique job titles:", unique_job_titles)

Number of unique job titles: 2159

## 5.13.
** What are the top 5 most common jobs? **

In [ ]:
# count the occurrences of each job title and select the top 5
top_5_jobs = df['JobTitle'].value_counts().head(5)

print("Top 5 most common jobs:")
print(top_5_jobs)

Top 5 most common jobs:
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

## 5.14.
** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
# filter the DataFrame to include only the rows for the year 2013
df_2013 = df[df['Year'] == 2013]

# count the occurrences of each job title
job_title_counts = df_2013['JobTitle'].value_counts()

# count the number of job titles represented by only one person
job_titles_one_person = (job_title_counts == 1).sum()

print("Number of job titles represented by only one person in 2013:", job_titles_one_person)

Number of job titles represented by only one person in 2013: 202

## 5.15.
** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
# use a regular expression with word boundaries to find rows where the 'JobTitle' contains the word 'Chief'
chief_jobs = df[df['JobTitle'].str.contains(r'\bChief\b', case=False, regex=True)]

# count the number of rows (i.e., people) in the filtered DataFrame
number_of_chiefs = len(chief_jobs)

print("Number of people with the word 'Chief' in their job title:", number_of_chiefs)

Number of people with the word 'Chief' in their job title: 627

## 5.16.
** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
# calculate the length of the job title string for each row
df['JobTitleLength'] = df['JobTitle'].str.len()

# calculate the Pearson correlation coefficient between JobTitleLength and TotalPayBenefits
correlation = df['JobTitleLength'].corr(df['TotalPayBenefits'])

print("Pearson correlation coefficient between Job Title Length and Total Pay Benefits:", correlation)
print ("A Pearson correlation coefficient of approximately -0.037 suggests \na very weak negative linear relationship between the length of the job title string and the total pay benefits.")

Pearson correlation coefficient between Job Title Length and Total Pay Benefits: -0.036878445932606675
A Pearson correlation coefficient of approximately -0.037 suggests
a very weak negative linear relationship between the length of the job title string and the total pay benefits.

# Great Job!